{% load static %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}


{% block bodyContent %}
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
    {{ title }}
    <br>
    <br>
    <section class="section-no-padding-bottom">
        <div class="main-content container-fluid">
            <form id="company_name_form" method="POST"> {% csrf_token %}
                <div class="form-group row">
                    <label for="count" class="col-sm-4 col-form-label">Number of company name(s) to create:*</label>
                    <div class="col-sm-8">
                        <input type="number" id="count" name="count" min="1" max="100" step="1" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="execTime" class="col-sm-4 col-form-label">Execution time:*</label>
                    <div class="col-sm-8" id="execTime">
                        <input type="datetime-local" id="execution_time" name="execution_time" required>
                    </div>
                </div>
                <div>
                    <input class="btn btn-outline-success" id="bulk_btn" type='submit' value="Submit">
                </div>
            </form>
        </div>

    </section>
    </body>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js" integrity="sha512-vyRAVI0IEm6LI/fVSv/Wq/d0KUfrg3hJq2Qz5FlfER69sf3ZHlOrsLriNm49FxnpUGmhx+TaJKwJ+ByTLKT+Yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const csrftoken = getCookie('csrftoken');
        /**
         * Helper function to get a cookie by its name.
         * @param {string} name - Name of the cookie
         * */
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const task = {
            sendData: function () {
                const form = document.getElementById(`company_name_form`);
                const url = `/submit_task/`;
                $('#company_name_form').unbind('submit').bind('submit', function(event) {
                    event.preventDefault();
                    // get the current value entered in the form fields
                    let execution_time = document.getElementById('execution_time').value;
                    let count = document.getElementById('count').value;
                    $.ajax({
                        method: 'POST',
                        url: url,
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        data: {'count': count, 'execution_time': execution_time},
                        complete: function () {form.reset();},
                        error: function (err) { console.log(err) },});
                });
            },
        }
    </script>

    <script>
        $(document).ready(function () {
            task.sendData();
        })
    </script>
{% endblock %}